<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">
</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left">
    </div>
    <div class="right">
        <img class="wColck" src="../img/clock.jpg" alt=""/>
        <div class="wFont">
            <p>功能尚在开发</p>
        </div>
    </div>
</section>
<footer class="footer"><div style="text-align:center;"></div></footer>
<script src="https://cdn.jsdelivr.net/gh/yremp/yremp-js@1.5/sakura.js"></script>
</body>
</html>