<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">

</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='show')">

    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>热门推荐</span>
        </div>

<!--        <form id="searchForm" th:action="@{/showAllGoods}" th:method="get">-->
<!--            <div class="search">-->
<!--                <span>商品名称：</span>-->
<!--                <input type="text" th:value="${goodsName}" name="goodsName" placeholder="请输入商品的名称"/>-->
<!--                <input type="button" onclick="$('#searchForm').submit();" value="查询"/>-->
<!--            </div>-->
<!--        </form>-->
        <!--商品展示-->

        <table class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">发送人</th>
                <th width="65%">最新内容</th>
                <th width="15%">发送时间</th>
                <th width="10%">操作</th>
            </tr>
            <tr th:each="message : ${messageList}">
                <td th:text="${message.fromUser}"></td>
                <td th:text="${message.message}"></td>
                <td th:text="${message.createTime}"></td>
            </tr>

        </table>

    </div>
</section>

<footer class="footer" th:replace="main/public :: #public_footer"></footer>

<script src="../js/jquery.js"></script>
</body>
</html>