<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">

</head>
<body>
<!--头部-->
<header class="publicHeader" th:replace="main/public :: #public_header">

</header>
<!--时间-->
<section class="publicTime" th:replace="main/public :: #public_time">

</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='goods')">

    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户修改页面 >> 信息修改</span>
        </div>
        <div class="providerAdd">
            <div th:if=" ${not #strings.isEmpty(msg)}" th:text="${msg}" style="color:red; margin-left: 130px"></div>
            <form id="updateForm" th:action="@{/updateUserInfo/} + ${userUuid}" th:method="put" action="../manager/showUsers.html">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="userName">用户名：</label>
                    <input type="text" name="userName" id="userName"/>
                    <span >*请输入用户名</span>
                </div>
                <div>
                    <label for="password">密码：</label>
                    <input type="password" name="password" id="password"/>
                    <span>*请输入密码</span>
                </div>
                <div class="providerAddBtn">
            <input type="button" value="修改" onclick="$('#updateForm').submit();"/>
            <input type="button" value="返回" onclick="history.back(-1)"/>
        </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer"><div style="text-align:center;"></div></footer>
<script src="../js/jquery.js"></script>
<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>